<h1>Listing disciplinas</h1>

<table>
  <tr>
    <th>Sigla</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disciplinas.each do |disciplina| %>
  <tr>
    <td><%= disciplina.sigla %></td>
    <td><%= disciplina.nome %></td>
    <td><%= link_to 'Show', disciplina %></td>
    <td><%= link_to 'Edit', edit_disciplina_path(disciplina) %></td>
    <td><%= link_to 'Excluir', disciplina, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disciplina', new_disciplina_path %>
