<h1>Listing anoletivos</h1>

<table>
  <tr>
    <th>Ano</th>
    <th>Periodo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anoletivos.each do |anoletivo| %>
  <tr>
    <td><%= anoletivo.ano %></td>
    <td><%= anoletivo.period %></td>
    <td><%= link_to 'Show', anoletivo %></td>
    <td><%= link_to 'Edit', edit_anoletivo_path(anoletivo) %></td>
    <td><%= link_to 'Excluir', anoletivo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anoletivo', new_anoletivo_path %>
