<h1>Listing cursodisciplinas</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Disciplina</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursodisciplinas.each do |cursodisciplina| %>
  <tr>
    <td><%= cursodisciplina.curso.nome %></td>
    <td><%= cursodisciplina.disciplina.sigla %></td>
    <td><%= link_to 'Show', cursodisciplina %></td>
    <td><%= link_to 'Edit', edit_cursodisciplina_path(cursodisciplina) %></td>
    <td><%= link_to 'Excluir', cursodisciplina, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cursodisciplina', new_cursodisciplina_path %>
