= semantic_form_for(@professor) do |f|
  = f.input :matricula, :label => "Matricula"
  = f.input :nome,  :label => "Nome"
  = f.input :endereco, :label => "Endereco"
  = f.input :telefone, :label => "Telefone"
  = f.submit 'Salvar'

